{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'card_view.css'%}">
  </head>

  <body>
    <header> 
      <a href="../" class="pict"><img src="{% static 'al2.png'%}" width="40" height="22.96"></a>
      <nav>
        <a href="../" class="tulisan">Table</a> 
        <a href="" class="now">Card</a> 
        <a href="../add-note" class="tulisan">Add Note</a> 
      </nav>
    </header>

    <center>
    <h1>Daftar Pesan</h1>
      <div class="coloumn">
      {% for var in notes %}
              <div class=card>
                  <p class="title">{{var.title}}</p>
                  <p class="tofrom">To : {{var.to}}, From : {{var.var_from}}</p>
                  <p class="message">{{var.message}}</p>
              </div>
              
      {% endfor %}
          </div>
    <a href="../add-note"><button>Add Note</button></a>
    <a href="../"><button>Table View</button></a></center>
  </body>
</html>
