{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index_style.css'%}">
  </head>
  <body>
    <header> 
      <a href="../" class="pict"><img src="{% static 'al2.png'%}" width="40" height="22.96"></a>
      <nav>
        <a href="" class="now">Table</a> 
        <a href="note-list" class="tulisan">Card</a> 
        <a href="add-note" class="tulisan">Add Note</a> 
      </nav>
    </header>

    <center>
      <h1>Daftar Pesan</h1>
      <table style="width:600px;" align="center">
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th width="300px">Message</th>
        </tr>
        <!-- TODO loop from Friend model -->
        <!-- EXAMPLE SECTION -->
        {% for var in notes %}
        <tr>
          <td>{{var.to}}</td>
          <td>{{var.var_from}}</td>
          <td>{{var.title}}</td>
          <td >{{var.message}}</td>
        </tr>
        {% endfor %}
        <!-- END SECTION -->
      </table>
      <a href="add-note"><button>Add Note</button></a>
      <a href="note-list"><button>Card View</button></a>
    </center>
  </body>
</html>
