{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Note</title>
    <link rel="stylesheet" type="text/css" href="{% static 'form_style.css'%}">
  </head>
  <body>
    <header> 
      <a href="../" class="pict"><img src="{% static 'al2.png'%}" width="40" height="22.96"></a>
      <nav>
        <a href="../" class="tulisan">Table</a> 
        <a href="../note-list" class="tulisan">Card</a> 
        <a href="" class="now">Add Note</a> 
      </nav>
    </header>

    <center>
    <h1>Masukkan Pesan Untuk Temanmu</h1>
      <form action="" method="POST">
          {% csrf_token %}
          <!-- {{form.as_p}} -->
          
          <p class="label">To </p>
          <p>{{form.to}}</p>
          <p class="label">From</p>
          <p>{{form.var_from}}</p>
          <p class="label">Title</p>
          <p>{{form.title}}</p>
          <p class="label">Message</p>
          <p class="message">{{form.message}}</p>
          <button type="submit">Submit</button>
        </form>
        <a href='../'><button>Back</button></a></center>
  </body>
</html>
