 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.now:hover, .tulisan:hover {
    color: rgb(235, 216, 177);
    transition: all, .2s;
    border-bottom: 7px solid rgb(235, 216, 177);
}

.pict:hover {
    opacity: 70%;
    transition: all, .2s;
}

h1 {
    margin-top: 2%;
}

table {
    margin-top: 1%;
    border-collapse: collapse; /* buat pilih jenis border */
}
th {
    border-bottom: 1px solid #ccc;
    background-color: brown;
    height: 25px;
    color : white;
    
}

td {
    border-bottom: 1px solid #ccc;
    height: 25px;
} 

td p {
    padding-left: 10px;
    padding-top: 10px;
}

td a {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

tr:nth-child(even) td {
    background-color: beige;
}

tr:hover td{
    background-color: #dfdfdf;
    border-color: white;
    transition: all, .2s;
}

.but {
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(235, 223, 190);
}

.but:hover {
    background-color: rgb(204, 194, 164);
    border: 2px inset rgb(173, 75, 75);
    transition: all, .2s;
}

table.table td p {
    font-size: 200px;
    
}

.view {
    color: rgb(191, 240, 119);
}

.edit {
    color: #FFC107;
}

.delete {
    color: #F44336
}

.modal .close {
    padding-right: 20px;
    padding-top: 5px;
}