* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(82, 15, 15);
    padding-bottom: 7px;
}

nav {
    padding-top: 20px;
    margin-right: 50px;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding-right: 30px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

.now:hover, .tulisan:hover {
    color: rgb(235, 216, 177);
    transition: all, .2s;
    border-bottom: 7px solid rgb(235, 216, 177);
}

.pict {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 30px;
}

.pict:hover {
    opacity: 70%;
    transition: all, .2s;
}

.now {
    border-bottom: 7px solid beige;
    color: beige;
}
.title{
    margin-top: 5px;
    font-size: x-large;
    font-style:oblique;
    margin-bottom: 0px;
}

.tofrom {
    font-size: small;
    margin-bottom: 10px;
}

.coloumn {
    margin: 0 auto;
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.message {
    margin-bottom: 10px;
}

.card {
    box-shadow: 0 2px 2px 0 rgb(122, 94, 1);
    max-width: 200px;
    background-color: rgb(245, 252, 205);
    text-align: center;
    border-radius: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.card:hover {
    transform: translateY(-20px);
    box-shadow: 0 8px 2px 0 rgb(192, 164, 71);
    transition: all, .2s;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
}

button {
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(235, 223, 190);
}

button:hover {
    background-color: rgb(204, 194, 164);
    border: 2px inset rgb(173, 75, 75);
    transition: all, .2s;
}