* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(82, 15, 15);
    padding-bottom: 7px;
}

nav {
    padding-top: 20px;
    margin-right: 50px;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding-right: 30px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

.now:hover, .tulisan:hover {
    color: rgb(235, 216, 177);
    transition: all, .2s;
    border-bottom: 7px solid rgb(235, 216, 177);
}

.pict {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 30px;
}

.pict:hover {
    opacity: 70%;
    transition: all, .2s;
}

.now {
    border-bottom: 7px solid beige;
    color: beige;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* height: 100px; */
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
}
.label {
    margin-top: 20px;
}

button {
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(235, 223, 190);
}

button:hover {
    background-color: rgb(204, 194, 164);
    border: 2px inset rgb(173, 75, 75);
    transition: all, .2s;
}
