* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(82, 15, 15);
    padding-bottom: 7px;
}

nav {
    padding-top: 20px;
    margin-right: 50px;
}
a {
    color: white;
    text-decoration: none;
    padding-right: 30px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

.now:hover, .tulisan:hover {
    color: rgb(235, 216, 177);
    transition: all, .2s;
    border-bottom: 7px solid rgb(235, 216, 177);
}

.pict {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 30px;
}

.pict:hover {
    opacity: 70%;
    transition: all, .2s;
}

.now {
    border-bottom: 7px solid beige;
    color: beige;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    margin-top: 2%;
}

table {
    margin-top: 1%;
    border-collapse: collapse; /* buat pilih jenis border */
}
th {
    border: 1px solid #ccc;
    background-color: brown;
    height: 25px;
    color : white;
}


td {
    border: 1px solid #ccc;
    padding-left: 5px; /* jarak garis ke tulisan (kiri) */
    height: 25px;
}
tr:nth-child(even) td {
    background-color: beige;
}

tr:hover td{
    background-color: #dfdfdf;
    border-color: white;
    transition: all, .2s;
}

button {
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(235, 223, 190);
}

button:hover {
    background-color: rgb(204, 194, 164);
    border: 2px inset rgb(173, 75, 75);
    transition: all, .2s;
}




