{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'table.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'view.js'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script>

      $(document).ready(function () {
        $.ajax({
          url: "/lab-2/json",
          success: function(results) {
            results.map((result) => {
              alert(result);
              $(".table-body").append(`
                <tr class="row">
                  <td class="note-table-data text-muted" id="noteReceiver"><p>${result.fields.to}</p></td>
                  <td class="note-table-data text-muted" id="noteSender"><p>${result.fields.var_from}</p></td>
                  <td class="note-table-data text-muted" id="noteTitle"><p>${result.fields.title}</p></td>
                  <td class="note-table-data text-muted" id="noteMessage"><p>${result.fields.message}</p></td>
                  <td><a class="view" data-toggle="modal" ><i class="material-icons" data-toggle="tooltip" title="View">&#xE8F4;</i></a></td>
                  <td><a href="#editNoteModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a></td>
                  <td><a href="#deleteNoteModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
                  <td class="buat-id" style="display: none;">${result.pk}</td>
                </tr>`);
            });
          },
        });
        });
        </script>
        
       <script>
          $(document).ready(function () {
            $("#tablebody").on('click', '.view', function(event) {
              // alert("hai");
          // alert($(this));
              var $this = $(this);
              let id = $this.parents(".row").find("td").eq(7).text();
              // alert(id);
              $.ajax({
              url: "/lab-5/view/" + id,
              success: function(results) {
                // alert(results);
            // alert("hello");
            // alert($this.id);
            // // alert("/lab-5/view/1");
              results.map((result) => {
                $("#text").load("/lab-5/view/" + id);
                $("#viewNoteModal").modal("show");
              });
            },
        });
    // $('#viewNoteModal').modal('show');
  })

      // $(document).ready(function () {
  //       $("td").click(function(){
  //         alert("hai");
    
  //         $("#text").load("{% static 'hello.txt'%}");

  //         // , function(responseTxt, statusTxt, xhr){
  //         //   if(statusTxt == "success")
  //         //     alert("External content loaded successfully!");
  //         //   if(statusTxt == "error")
  //         //     alert("Error: " + xhr.status + ": " + xhr.statusText);
  //     // });
  
  // });
});

    </script>
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif; font-size: medium;">
    <header style="display: flex; justify-content: space-between; background-color: rgb(82, 15, 15); padding-bottom: 11px;"> 
      <a href="../" class="pict" style="padding-top: 15px; padding-bottom: 10px; margin-left: 30px;">
        <img src="{% static 'al2.png'%}" width="40" height="22.96">
      </a>
      <nav style="padding-top: 20px; margin-right: 50px;">
        <a href="" class="now" style="color: white; text-decoration: none; padding-right: 30px; padding-bottom: 13px; padding-left: 20px; padding-right: 20px; border-bottom: 7px solid beige; color: beige;">Table</a> 
        <a href="note-list" class="tulisan" style="color: white; text-decoration: none; padding-right: 30px; padding-bottom: 13px; padding-left: 20px; padding-right: 20px;">Card</a> 
        <a href="add-note" class="tulisan" style="color: white; text-decoration: none; padding-right: 30px; padding-bottom: 13px; padding-left: 20px; padding-right: 20px;">Add Note</a> 
      </nav>
    </header>

    <center>
      <h1>Daftar Pesan</h1>
      <table align="center">
        <tr class="row">
          <th width="110px" style="text-align: center;">To</th>
          <th width="110px" style="text-align: center;">From</th>
          <th width="110px" style="text-align: center;">Title</th>
          <th width="300px" style="text-align: center;">Message</th>
          <th colspan="3" style="text-align: center;">Actions</th>
        </tr>
      
        <!-- {% for var in notes %}
        <tr>
          <td><p>{{var.to}}</p></td>
          <td><p>{{var.var_from}}</p></td>
          <td><p>{{var.title}}</p></td>
          <td ><p>{{var.message}}</p></td>
          <td><a href="#viewNoteModal" class="view" data-toggle="modal" id="{{var.id}}"><i class="material-icons" data-toggle="tooltip" title="View">&#xE8F4;</i></a></td>
          <td><a href="#editNoteModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a></td>
          <td><a href="#deleteNoteModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
        </tr>
        {% endfor %} -->
        <tbody class="table-body" id="tablebody"></tbody>
        
      </table>
      <a href="add-note" ><button class="but">Add Note</button></a>
      <a href="note-list" ><button class="but">Card View</button></a>
    </center>

    <div id="viewNoteModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">Note Details</h3>
          <p id="text">aaa</p>
        </div>
    </div>
    </div>

    <div id="editNoteModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <h3 class="modal-title">Edit Note</h3>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type='submit' value='submit'>
          </form>
        </div>
    </div>
    </div>
    
  </body>
</html>
