<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for var in friends %}
      <tr>
        <td>{{var.name}}</td>
        <td>{{var.npm}}</td>
        <td>{{var.dob}}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>

    <a href = "add" title = "">add friends here</a>
  </body>
</html>
